<tfoot class="employees__pagination">
  <p>
    Showing
    <span> {{ pagination().start }}-{{ pagination().end }} </span>
    of
    <span>
      {{ numberOfEmployees() }}
    </span>
  </p>
  <div class="employees_carousell">
    <button (click)="previousPage()">&lt;</button>

    @for (page of pages(); track page) {
      <button [class.active]="currentPage() === page" (click)="advance(page)">
        {{ page }}
      </button>
    }

    <button (click)="nextPage()">&gt;</button>
  </div>
</tfoot>
