.modal-container {
  position: absolute;
  inset: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
  background: rgba(0, 0, 0, 0.25);
  pointer-events: auto;
}

.modal {
  background: var(--color-background);
  border-radius: 0.5rem;
}

.modal {
  width: 50rem;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 0.5rem;
  background: var(--color-background);
  box-shadow: var(--shadow-md);
}

.modal__header {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: 2rem;
  display: flex;
  background: var(--color-primary);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.modal__header h1 {
  color: var(--color-background);
}

.modal__header button {
  position: fixed;
  background: red;
  border: none;
  border-radius: 0 0.4rem 0 0;
  height: 2rem;
  width: 2rem;
  right: 0;
}

.modal__content {
  width: 50rem;
  min-height: 400px;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.modal__content_section {
  grid-column: span 6;
  grid-row: span 5;
}

.modal__content_actions {
  grid-column: span 12;
  grid-row: span 2;
}

#user-basic-info,
#employment,
#contact {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#pills-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  justify-content: center;
}

#employment,
#contact {
  border-radius: 1rem;
  border: solid 1px var(--color-text);
  justify-content: start;
  flex-direction: column;
  text-align: left;
  align-items: start;
  gap: 0.5rem;
}
h2 {
  align-self: center !important;
}
#user-basic-info p {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}

.modal__content_actions {
  display: flex;
  justify-content: space-between;
}

.modal__content_actions button {
  border: none;
  background: var(--color-surface-alt);
  border-radius: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
}

@media screen and (width<65rem) {
  .modal {
    width: 25rem;
  }
  .modal__content {
    width: 25rem;
    display: flex;
    flex-direction: column;
  }
}
