button {
  width: 100%;
  margin: 0;
  padding: 1rem;
  border: var(--color-primary);
  border-radius: 5px;
  background: var(--color-primary);
  color: var(--color-text-inverse);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  white-space: nowrap;
}

button:focus,
button:hover {
  background: var(--color-secondary);
  color: var(--color-primary);
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 15rem;
  min-height: 100%;
  gap: 0;
  margin: 0;
  padding: 0;
  background: var(--color-primary);
  color: var(--color-text-inverse);
  transition: width 0.3s;
  overflow-x: hidden;
  border-right: 4px steelblue solid;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sidebar--closed {
  width: calc(4rem + 4px);
}

.sidebar--closed button span {
  display: none;
}

.sidebar__toggle {
  z-index: 9999999;
  position: fixed;
  height: 4rem;
  width: 2.5rem;
  border: none;
  top: calc(50% - 2rem);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 0 7rem 7rem 0;
  transform: translateX(calc(15rem - 4px));
  border-right: 4px steelblue solid;
  border-top: 4px steelblue solid;
  border-bottom: 4px steelblue solid;
  transition: transform 0.3s;
}
.sidebar__toggle:hover,
.sidebar__toggle:focus,
button:active {
  background: var(--color-primary);
  color: var(--color-text-inverse);
}

.button--closed {
  transform: translateX(4rem);
}

.sidebar__item--active {
  background: var(--color-secondary);
  color: var(--color-primary);

  font-weight: 600;
}
