<div class="employees__table">
  <div class="employees__table_header">
    <div>Employee</div>
    <hr />
    <div>Position</div>
    <hr />
    <div>Clock Number</div>
    <hr />
    <div>Status</div>
    <hr />
    <div>Action</div>
  </div>
  <hr class="separator sticky_separator" />
  @for (employee of employees(); track employee.clockNumber; let i = $index) {
    <employee-row
      [rowColor]="i % 2 === 0"
      [employee]="employee"
      [isModalOpen]="openEmployeeId() === employee.id"
      (openModal)="openModal($event)"
      (closeModal)="closeModal()"
      (detailsRequested)="openEmployeeDetails($event)"
      (employeeDeleted)="onEmployeeDeleted($event)"
      (updateRequested)="openEmployeeUpdate($event)"
    ></employee-row>
  }
  <hr class="separator" />
</div>
