<div class="employees__row" [style.background]="rowColor ? '' : 'var(--color-hover)'">
  <div class="employees__user_info">
    <span>👤 {{ employee.name }}</span>
    <span>{{ employee.email }}</span>
  </div>

  <div class="cell">
    {{ JobPosition[employee.jobPosition ?? 0] }}
  </div>
  <div class="cell">{{ employee.clockNumber }}</div>
  <div class="cell">🟢</div>

  <div class="employees__actions">
    <button
      class="employees__action"
      id="employees-action"
      type="button"
      (click)="toggleModal($event)"
      [style.background]="isModalOpen ? 'var(--color-background)' : 'none'"
    >
      ⋮
    </button>

    @if (isModalOpen) {
      <div class="modal-overlay" (click)="onCloseModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
          <button type="button" id="employee__details" (click)="showEmployeeDetails()">
            <info-svg [color]="'--color-action'" />
          </button>
          <button type="button" id="employee__edit" (click)="updateEmployee()">
            <edit-svg [color]="'--color-action'" />
          </button>
          <button type="button" id="employee__delete" (click)="deleteEmployee()">
            <delete-svg [color]="'--color-danger'" />
          </button>
        </div>
      </div>
    }
  </div>
</div>
