<div class="employees__row" [style.background]="rowColor ? '' : 'var(--color-hover)'">
  <div class="employees__user_info">
    <span>👤 {{ employee.name }}</span>
    <span>{{ employee.email }}</span>
  </div>

  <div class="cell">
    {{ JobPosition[employee.jobPosition ?? 0] }}
  </div>
  <div class="cell">{{ employee.clockNumber }}</div>
  <div class="cell">🟢</div>

  <div class="employees__actions">
    <button class="employees__action" type="button" (click)="toggleModal($event)">⋮</button>

    @if (isModalOpen) {
      <div class="modal-overlay" (click)="closeModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
          <button type="button">Details</button>
          <button type="button">Edit</button>
          <button type="button">Delete</button>
        </div>
      </div>
    }
  </div>
</div>
