.employee__search {
  width: 30%;
  display: flex;
  flex-wrap: nowrap;
}

.employee__search input {
  min-width: 150px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background: var(--color-surface);
  border: none;
}

.employee__search span {
  margin-left: 3px;
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-primary);
  align-self: end;
}

.search_button {
  padding: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  background: var(--color-surface);
  border-right: solid #fdc770 2px;
}

.search_button:hover {
  background: var(--color-surface-alt);
}

.employees__filters {
  background: #fdc770;
  flex-wrap: wrap;
  min-height: 3rem;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.employees__dropdown-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
}

button {
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
}

@media (max-width: 850px) {
  .employee__search {
    flex: 1 1 100%;
  }

  .employees__dropdown-filters {
    width: 100%;
    justify-content: flex-start;
    gap: 2rem;
  }
}
