<div class="employees__filters">
  <div class="employee__search">
    <button class="search_button" (click)="search()">🔍</button
    ><input [(ngModel)]="query" (ngModelChange)="onQueryChange($event)" placeholder="Search..." />
    @if (query.trim()) {
      <span (click)="clearSearch()">clear</span>
    }
  </div>
  <div class="employees__dropdown-filters">
    <button (click)="changeSort('clockNumber')">
      Clock Number
      @if (sortField === 'clockNumber') {
        {{ sortDirection === 'asc' ? '▲' : '▼' }}
      }
    </button>

    <button (click)="changeSort('jobPosition')">
      Position
      @if (sortField === 'jobPosition') {
        {{ sortDirection === 'asc' ? '▲' : '▼' }}
      }
    </button>
  </div>

  <div></div>
</div>
