input,
button {
  padding: 0.75rem;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-size: medium;
  font-weight: bold;
}

button,
a {
  cursor: pointer;
}

.register__submit-button {
  width: 12rem;
  border-radius: 2rem;
}

a {
  text-emphasis: none;
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
}

.register__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: steelblue;
  gap: 1.5rem;
}

.register__form {
  width: 30rem;
  background: steelblue;
  border-radius: 10px;
  border: solid 2px whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.register__login-button {
  font-size: small;
  width: 7rem;
}

#register_container {
  justify-content: center;
}

#first-name {
  border-radius: 10px 0 0 10px;
}

#first-name,
#last-name {
  height: 48px;
  font-size: medium;
  font-weight: 400;
}

form-field {
  width: 100%;
}
